.containerForm{

    background-position: center;
    padding: 190px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    box-shadow: 0px -1px 12px 5px rgba(0,0,0,0.77);
    -webkit-box-shadow: 0px -1px 12px 5px rgba(0,0,0,0.77);
    -moz-box-shadow: 0px -1px 12px 5px rgba(0,0,0,0.77);
}

.invalido{
    border: solid 2px red;
    background-color: rgb(240, 127, 127);
    height: 40px;

}
.valido{
    border: solid 2px green;
    background-color: rgb(124, 219, 124);
    height: 40px;

}
.alertValidacion{
    font-size: 15px;
    color: red;
}

.buttonSubmit{
    width: 140px;
    height: 30px;
    border-radius: 8px;
    border: solid 2px black;
    margin-top: 60px;
    font-size: 20px;
    background-color:  rgba(39,205,214,0.96);

}

.divform{
    border: solid 1px black;
    border-radius: 5px;
    background:  rgba(104, 123, 230, 0.96);
    margin-left: 30%;
    margin-right: 30%;
    height: 400px;
    
}