.SearchBar{
    display: flex;
    margin-left: 850px;
    height: 30px;
}
.input{
    border-radius: 10px 0px 0px 10px;
    border: solid 2px black;
    height: 50px;
    margin-top: 5px;

}
.buttonAgregar{
    border-radius: 0px 10px 10px 0px;
    width: 120px;
    background-color:  rgba(39,205,214,0.96) ;
    height: 50px;
    border: solid 2px black;
    margin-top: 5px;
    color: rgb(11, 5, 73);
    font-family: fantasy;
    font-size: 20px;


}